<ion-content >
    <div class="contenedor" >
      <div class="selector-cine" >
              <select>
                <option disabled selected> choose cinema</option>
                  <option>Federal Mall</option>
                  <!-- Agregar más opciones si es necesario -->
              </select>
          </div>
          <div class="peliculas" >


              <div class="pelicula" *ngFor="let movie of movies" (click)="goToMovieDetailComingSoon(movie.idMovie)">
                <img [src]="movie.image" alt="{{movie.title}}" class="movie-image" />
                  <div class="info">
                      <span class="fecha-estreno">{{movie.releaseDate | longDate}}</span>
                      <span class="titulo">{{movie.title}}</span>
                  </div>
              </div>

          </div>
      </div>
</ion-content>