<ion-content *ngIf="movie">
  <ion-card>
    <img [src]="movie.image" alt="{{movie.title}}" class="movie-image" />
    <ion-card-content>
      <ion-card-title>{{movie.title}}</ion-card-title>
      <p>{{movie.synopsis}}</p>
      <p><strong>Director:</strong> {{movie.director}}</p>
      <p><strong>Género:</strong> {{movie.genre}}</p>
      <p><strong>Duración:</strong> {{movie.duration}} minutos</p>
      <p><strong>Fecha de estreno:</strong> {{movie.releaseDate | longDate }}</p>
      <p><strong>Clasificación:</strong> {{movie.classification.classificationName}}</p>
      <ion-button (click)="goToShowtimeHours(movie.idMovie)">CHECKOUT</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
