<ion-content>

  <div class="container">
      <div class="header">
          <select id="cinema-selector">
              <option value="Federal Mall">Federal Mall</option>
          </select>
      </div>
      <div class="services">
          <button disabled>Services</button>
      </div>
      <div class="movies-menu">
        <ion-grid>
          <ion-row>
        <ion-col size="4" *ngFor="let movie of movies">
          <div class="movie-item" (click)="goToMovieDetail(movie.idMovie)">
            <img [src]="movie.image" alt="{{movie.title}}" class="movie-image" />
              <div class="label premiere">Premieres</div>
              <div class="movie-title">{{movie.title}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

      </div>
  </div>

</ion-content>