<ion-content>
  <div class="container">
      <div class="image-container">
        <img [src]="movie.image" alt="{{movie.title}}" class="movie-image" />
          <button class="trailer-btn">
            <a [href]="movie.url" target="_blank"><img src="assets/icon/Trailer.png" alt="Trailer"></a>
          </button>
      </div>
      <div class="content">
          <h1>{{movie.title}}</h1>

          <div class="tags">
              <div class="tag">{{movie.classification.classificationName}}</div>
              <div class="tag">{{movie.genre}}</div>
          </div>
          <div class="director-tag">Director: {{movie.director}}</div>
          <div class="description">
            {{movie.synopsis}}
          </div>
          <div class="ReleaseDate">
            <div class="boxDate">{{movie.releaseDate | longDate }}</div>
        </div>
      </div>
  </div>
</ion-content>