<ion-content [fullscreen]="true">
  <div class="content-container">
    <ion-grid>
    <ion-row class="ion-justify-content-center">
      <h1 class="title">Entra a tu Perfil</h1>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <div class="image">
        <img src="assets/starts/UserCardVIP.png" width=169px height=412px alt="UserCardVIP">
      </div>
    </ion-row>
    
  <p class="message">
    En perfil tienes <b>a mano tus 
      boletos</b>, registrados con tu 
      tarjeta de crédito.</p>

    <ion-row class="ion-justify-content-center">
      <ion-button class="comenzar-button" (click)="goToHome()">
        Comenzar
       </ion-button>
    </ion-row>

  </ion-grid>
  </div>
</ion-content>
